langchain
langchain-community
langchain-experimental
langchain_google_community
langchain_tavily
langchain_groq
langchain_openai
langchain-google-community[places]
langgraph

fastapi
python-dotenv
streamlit
uvicorn
pydantic
httpx
requests


-e .  